@font-face {
  font-family: Raleway;
  src: url("../fonts/static/Raleway-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: Raleway;
  src: url("../fonts/static/Raleway-Medium.ttf");
  font-weight: 500;
}
